/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(236,236,236,0.4);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(94,94,94,0.3);
  color: black;
}


